In [0]:
import pandas as pd

In [0]:
def date_to_int(date):
    return str(60*24*(date[0]-1) + 60*date[1] + date[2])

In [0]:
dataframe = pd.read_csv("plan_gob_2020-02-01.csv")
dataframe.head()

      linea              ordenes  ...    inicio liquido       fin liquido
0  LINEA001  L-10923472-10925796  ...  2020/02/01 17:01  2020/02/02 19:46
1  LINEA001  L-10923472-10925796  ...  2020/02/01 17:01  2020/02/02 19:46
2  LINEA001  L-10923472-10925796  ...  2020/02/01 17:01  2020/02/02 19:46
3  LINEA001  L-10923472-10925796  ...  2020/02/01 17:01  2020/02/02 19:46
4  LINEA001  L-10923472-10925796  ...  2020/02/01 17:01  2020/02/02 19:46

[5 rows x 15 columns]

In [0]:
with open('query.txt', 'w') as file:
    suma = 0
    ordenes = dataframe.ordenes.unique()
    tanks = dataframe.tanque.unique()
    file.write(str(ordenes.shape[0]) + " " + str(tanks.shape[0]) + "\n")

    for orden in ordenes:
        temp = dataframe.loc[dataframe['ordenes'] == orden].iloc[0].loc[["marca", "inicio liquido", "fin liquido", "HL liquido"]]
        marca = str(temp[0].replace(' ', '_'))
        start = date_to_int(list(map(int, [temp[1].split('/')[2].split(' ')[0]] + temp[1].split()[1].split(':') ) ) )
        end = date_to_int(list(map(int, [temp[2].split('/')[2].split(' ')[0]] + temp[2].split()[1].split(':') ) ) )
        amount = str(temp[3])
        suma += temp[3]
        print(marca, start, end, amount)
        file.write(marca+" "+start+" "+end+" "+amount+"\n")

    for tank in tanks:
        print(tank, 1550)
        file.write(tank + " "+ str(1550)+ "\n")

    print(suma, suma/tanks.shape[0])

CARTA_BLANCA_NACIONAL 1021 2626 7606
TECATE_LIGHT_NACIONAL 720 1020 1500
XX_LAGER_EXP. 2310 4110 974
XX_LAGER_NACIONAL 1560 2310 1856
AMSTEL_ULTRA 720 1560 1990
CARTA_BLANCA_NACIONAL 1801 2675 3213
TECATE_LIGHT_NACIONAL 720 1800 2950
XX_LAGER_EXP. 1310 2176 416
XX_AMBAR_EXP. 720 1300 320
TECATE_LIGHT_NACIONAL 1412 1761 2307
KLOSTER_LIGHT 961 1411 2859
INDIO_NACIONAL 720 960 1375
MILLER_LITE 1684 2661 8217
TECATE_NACIONAL 720 1683 5936
TECATE_LIGHT_NACIONAL 720 2632 4238
L464 1550
L468 1550
L466 1550
L460 1550
L462 1550
L102 1550
L106 1550
L117 1550
L115 1550
L113 1550
L118 1550
L107 1550
L108 1550
L112 1550
L103 1550
L104 1550
L109 1550
L114 1550
L111 1550
L459 1550
L461 1550
L470 1550
L463 1550
L465 1550
L467 1550
L469 1550
L101 1550
L105 1550
L110 1550
45757 1577.8275862068965